* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fc: rgb(226, 226, 233);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-image: url('/images/mountains-universe-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navigation {
  display: flex;
  gap: 8rem;
}

.navigation img {
  margin-left: 10rem;
}

.navigation nav ul {
  display: flex;
  gap: 8rem;
  height: 12rem;
  align-items: center;
}

nav ul li {
list-style: none;
font-size: 2.6rem;
color: var(--fc);
}

nav ul li a {
  text-decoration: none;
  color: var(--fc);
}

nav ul li:nth-child(1) {
  font-weight: 700;
}

nav ul li a:hover {
  font-weight: 700;
  color: #FFF;
}